<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4 text-center mb-5">Contact Us</h1>
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Get in Touch</h5>
              <p class="card-text">We'd love to hear from you! Reach out to us for any questions, concerns, or feedback.</p>
              
              <div class="row mt-4">
                <div class="col-md-6">
                  <h6><i class="fas fa-envelope me-2"></i>Email</h6>
                  <p>contact&#64;ecommerce-store.com</p>
                  
                  <h6><i class="fas fa-phone me-2"></i>Phone</h6>
                  <p>+1 (555) 123-4567</p>
                </div>
                <div class="col-md-6">
                  <h6><i class="fas fa-map-marker-alt me-2"></i>Address</h6>
                  <p>123 Commerce Street<br>
                  Business City, BC 12345<br>
                  United States</p>
                  
                  <h6><i class="fas fa-clock me-2"></i>Business Hours</h6>
                  <p>Monday - Friday: 9:00 AM - 6:00 PM<br>
                  Saturday: 10:00 AM - 4:00 PM<br>
                  Sunday: Closed</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
